:root {
   --razmer1: 20px;
   --razmer2: 40px;
   --razmer-cell: 50px;
}

body {
   display: flex;
   flex-direction: column;
   align-items: center;
}

#nonograma {
   display: grid;
   grid-template-columns: repeat(5, var(--razmer-cell));
   /* grid-template-rows: repeat(5, var(--razmer-cell)); */
   gap: 0px;
   /* width: calc(var(--razmer-cell) * 5); */
   border: 5px solid salmon;
   justify-items: center;
   /* overflow: hidden; */
   /* position: absolute; */
   height: 100%;
}
#nonogramaCont {
   aspect-ratio: 1;
   position: relative;
}

.cell {
   width: 40px;
   height: 40px;
   border: 1px solid #cccccc;
   background-color: white;
   position: relative;
   transition: 0.3s;
   display: flex;
   align-items: center;
   justify-content: space-around;
   font-size: xx-large;
   font-family: monospace;
   font-weight: bold;
   cursor: default;
}
.cell:hover {
   border: #000 1px solid;
}

.cell.black {
   background-color: black;
}

.cell.x {
   background-color: rgb(184, 150, 150);
}

.game-container {
   display: flex;
   flex-wrap: wrap;
   position: relative;
   /* width: calc(var(--razmer-cell) * 6 + 10px); */
   /* row-gap: 10px; */
   margin: 20px 0 100px;
   overflow: hidden;
}

.square-sol {
   background: gray;
   /* width: var(--razmer-cell);
   height: var(--razmer-cell); */
   width: 10%;
   aspect-ratio: 1;
}
.top-podskazri {
   display: flex;
   /* width: calc(var(--razmer-cell) * 5); */
   width: 90%;
}
.podsk2 {
   width: var(--razmer-cell);
   display: flex;
   justify-content: center;
   align-items: flex-end;
   font-size: small;
   text-align: center;
}
.left-podskazki {
   display: flex;
   flex-direction: column;
   /* width: var(--razmer-cell); */
   width: 10%;
   padding-top: 10px;
}
.podsk1 {
   height: var(--razmer-cell);
   display: flex;
   flex-direction: row-reverse;
   align-items: center;
   font-size: small;
   justify-content: space-around;
}
.row-container {
   display: flex;
   flex-direction: column;
   justify-content: space-evenly;
}

#nonograma .row-container:nth-child(5n):not(:last-child) .cell:nth-child(1)::before {
   content: "";
   position: absolute;
   top: -300%;
   right: -7px;
   width: 4px;
   height: 2500%;
   background-color: salmon;
}

#nonograma .row-container .cell:nth-child(5n):not(:last-child)::before {
   content: "";
   position: absolute;
   bottom: -18%;
   left: -300%;
   width: 420%;
   height: 4px;
   background-color: salmon;
}

.modal {
   position: fixed;
   top: 50%;
   left: 50%;
   transform: translate(-50%, -50%);
   background: white;
   padding: 20px;
   border-radius: 8px;
   box-shadow: 0 5px 30px rgba(0, 0, 0, 0.2);
   z-index: 2;
}
.modal-content {
   text-align: center;
}

.modal-content > button {
   background: chocolate;
   color: white;
   border: none;
   padding: 10px 20px;
   font-size: 16px;
   cursor: pointer;
   border-radius: 4px;
}
.fill {
   position: fixed;
   top: 0;
   left: 0;
   width: 100vw;
   height: 100vh;
   background: #000;
   opacity: 0.2;
   z-index: 1;
}
.timer {
   border: 2px solid salmon;
   border-radius: 10px;
   padding: 10px 20px;
}

.button-container button {
   background-color: slategray;
   color: #fff;
   padding: 10px 20px;
   font-size: 16px;
   border: none;
   border-radius: 5px;
   cursor: pointer;
   margin: 5px;
   transition: background-color 0.3s ease;
   opacity: 0.6;
   transition: 0.6s;
}

.button-container button:hover {
   opacity: 1;
}
