:root {
   --razmer1: 1vw;
   --razmer2: 2vw;
   --razmer-cell: 50px;
   --dark-bg: grey;
   --border: salmon;
}

body {
   display: flex;
   align-items: center;
   background-color: white;
   justify-content: center;
   height: 100dvh;
   width: 100vw;
}
.dark {
   background-color: var(--dark-bg);
}
.dark .button-container button {
   background-color: bisque;
   color: #000;
}
.dark .game-container .botContainer #nonograma .row-container .cell {
   box-shadow: inset 0 0 1px 1px #ffffff;
}
#nonograma {
   display: grid;
   grid-template-columns: repeat(5, 1fr);
   border: 5px solid var(--border);
}
#nonogramaCont {
   position: relative;
}

.cell {
   width: var(--razmer2);
   height: var(--razmer2);
   box-shadow: inset 0 0 1px 1px #808080;
   background-color: white;
   position: relative;
   transition: 0.3s;
   display: flex;
   align-items: center;
   justify-content: space-around;
   font-family: monospace;
   cursor: default;
   margin: calc(var(--razmer2) / 10);
}
.cell:hover {
   box-shadow: #000 1px solid;
}

.cell.black {
   background-color: black;
}

.cell.x {
   background-color: rgba(239, 239, 172, 0.412);
}

.mask {
   position: absolute;
   width: 100%;
   height: 100%;
   background-color: #000;
   opacity: 0;
   z-index: 100;
   top: 0;
   left: 0;
}

.square-sol {
   background: gray;
}
.top-podskazri {
   display: flex;
   padding: 0 5px;
   justify-content: space-around;
}
.podsk2 {
   display: flex;
   justify-content: center;
   align-items: flex-end;
   font-size: small;
   text-align: center;
   width: calc(var(--razmer2) + (var(--razmer2) / 5));
   position: relative;
}
.podsk2::after {
   content: "";
   position: absolute;
   width: 1px;
   background-color: var(--border);
   height: 100%;
   left: 0;
}
.podsk2::before {
   content: "";
   position: absolute;
   width: 1px;
   background-color: var(--border);
   height: 100%;
   right: 0;
}
.podsk2:nth-child(5n):not(:last-child)::before {
   width: 2px;
   height: 10500%;
   bottom: -10400%;
   right: 0;
}
.podsk2:nth-child(5n + 6):not(:last-child)::before {
   width: 2px;
   height: 10500%;
   bottom: -10400%;
   left: 0;
}
.left-podskazki {
   display: flex;
   flex-direction: column;
   padding: 5px 0;
   justify-content: space-around;
}
.podsk1 {
   display: flex;
   flex-direction: row-reverse;
   align-items: center;
   font-size: small;
   height: calc(var(--razmer2) + var(--razmer2) / 5);
   position: relative;
}
.podsk1::after {
   content: "";
   position: absolute;
   bottom: 0;
   height: 1px;
   width: 100%;
   background-color: var(--border);
}
.podsk1::before {
   content: "";
   position: absolute;
   top: 0;
   height: 1px;
   width: 100%;
   background-color: var(--border);
}
.podsk1:nth-child(5n + 6):not(:last-child)::before {
   height: 2px;
   width: 15100%;
   right: -15000%;
   bottom: 0;
}
.podsk1:nth-child(5n):not(:last-child)::after {
   height: 2px;
   width: 15100%;
   right: -15000%;
   bottom: 0;
}

.row-container {
   display: flex;
   flex-direction: column;
   justify-content: space-evenly;
}

.modal {
   position: fixed;
   top: 50%;
   left: 50%;
   transform: translate(-50%, -50%);
   background: white;
   padding: 20px;
   border-radius: 8px;
   box-shadow: 0 5px 30px rgba(0, 0, 0, 0.2);
   z-index: 2;
}
.modal-content {
   text-align: center;
}
.modal-content-chose,
.check-lvl-title {
   text-align: center;
   column-count: 3;
   column-gap: 10px;
}
.check-lvl-title p {
   margin: 0;
}

.modal-content > button {
   background: chocolate;
   color: white;
   border: none;
   padding: 10px 20px;
   font-size: 16px;
   cursor: pointer;
   border-radius: 4px;
   margin: 1dvh;
}
.modal-content-chose > button {
   background: chocolate;
   color: white;
   border: none;
   padding: 10px 20px;
   font-size: 16px;
   cursor: pointer;
   border-radius: 4px;
   margin: 1dvh;
   width: 100%;
}
.fill {
   position: fixed;
   top: 0;
   left: 0;
   width: 100vw;
   height: 100vh;
   background: #000;
   opacity: 0.2;
   z-index: 1;
}
.timer {
   border: 2px solid var(--border);
   border-radius: 10px;
   padding: 10px 20px;
}

.button-container {
   display: flex;
   flex-direction: column;
}
.button-container button {
   background-color: slategray;
   color: #fff;
   padding: 1vh 2vh;
   font-size: 16px;
   border: none;
   border-radius: 5px;
   cursor: pointer;
   margin: 5px;
   transition: background-color 0.3s ease;
   opacity: 0.6;
   transition: 0.6s;
}

.button-container button:hover {
   opacity: 1;
}

.toggle-switch {
   width: 60px;
   height: 30px;
   background-color: green;
   border-radius: 15px;
   position: relative;
   cursor: pointer;
   box-shadow: inset;
   box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
}

.toggle-switch::before {
   content: "";
   position: absolute;
   width: 40%;
   aspect-ratio: 1;
   background-color: #fff;
   border-radius: 50%;
   transition: transform 0.3s;
   border: 1px solid black;
   top: 50%;
   transform: translateY(-50%);
   left: 5%;
}

.toggle-theme-switch {
   width: 60px;
   height: 30px;
   background-color: grey;
   border-radius: 15px;
   position: relative;
   cursor: pointer;
   box-shadow: inset;
   box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
}

.toggle-theme-switch::before {
   content: "";
   position: absolute;
   width: 40%;
   aspect-ratio: 1;
   background-color: #fff;
   border-radius: 50%;
   transition: transform 0.3s;
   border: 1px solid black;
   top: 50%;
   transform: translateY(-50%);
   left: 5%;
}

.toggle-theme-switch[data-theme="dark"]::before {
   transform: translate(100%, -50%);
}
.toggle-switch[data-mute="true"]::before {
   transform: translate(100%, -50%);
}
.toggle-switch[data-mute="true"] {
   background-color: red;
}
.toggle-theme-switch[data-theme="dark"] {
   background-color: white;
}

.topContainer,
.botContainer {
   display: flex;
}
.topContainer {
   flex-direction: row-reverse;
}
.game-container {
   margin: 4vw;
   overflow: hidden;
}
.control-panel {
   height: 33vh;
   display: flex;
   flex-direction: column;
   justify-content: space-around;
}

@media (orientation: portrait) {
   :root {
      --razmer1: 1vw;
      --razmer2: 4vw;
      --razmer-cell: 50px;
      --dark-bg: grey;
   }
   body {
      flex-direction: column-reverse;
   }
   .button-container,
   .control-panel {
      flex-direction: row;
      flex-wrap: wrap;
      align-items: center;
      justify-content: center;
      height: unset;
   }
   label {
      display: none;
   }
   .control-panel {
      width: 60vw;
      justify-content: space-between;
   }
   .toggle-theme-switch {
      order: 1;
   }
   .modal {
      width: 80%;
      padding: 5%;
   }
   .modal-content > button {
      margin: 1vw;
   }
}
