main {
   display: flex;
   align-items: center;
   justify-content: center;
   height: 100dvh;
   gap: 5%;
}
main > section {
   height: 100%;
   gap: 3%;
   justify-content: center;
}
.visual-area {
   display: flex;
   flex-direction: column;
   align-items: center;
   font-size: calc(0.5vw + 1.5rem);
   font-family: Montserrat Alternates, sans-serif;
   width: 100%;
   max-width: 500px;
}
.text-area {
   display: flex;
   flex-direction: column;
}

.hangman-visual-box {
   background-image: url(../assets/content/bg-fill.png);
   width: 50%;
   aspect-ratio: 1;
   background-position: center;
   background-size: contain;

   position: relative;
}
.human-slice {
   position: absolute;
}

#head {
   right: 12%;
   top: 10%;
   width: 20%;
}
#body {
   right: 22%;
   top: 30%;
   width: 1%;
}
#lhand {
   right: 22%;
   top: 30%;
   width: 13%;
}
#rhand {
   right: 10%;
   top: 30%;
   width: 13%;
}
#lleg {
   right: 22%;
   top: 55.5%;
   width: 13%;
}
#rleg {
   right: 10%;
   top: 55.5%;
   width: 13%;
}
.text-area__word {
   display: flex;
   justify-content: center;
   gap: 1%;
}
.text-area__word p {
   font-family: Montserrat Alternates, sans-serif;
   font-size: 2rem;
   width: 10%;
   text-align: center;
}
.none {
   display: none;
}

@media (orientation: portrait) {
   main {
      flex-direction: column;
   }
}
