.sources {
    display: flex;
    flex-wrap: wrap;
    width: 45%;
    height: 100%;
    overflow-y: auto;
    font:
        300 1em 'Fira Sans',
        sans-serif;
    justify-content: space-between;
}
.sources::-webkit-scrollbar {
    display: none;
}

body.light .source__item {
    color: #211d1d;
    border: 2px solid #807373;
}

.source__item {
    background: none;
    border: 2px solid #30c5ff;
    font: inherit;
    line-height: 1;
    margin: 0.5em;
    padding: 1em 2em;
    color: #70d6ff;
    transition: 0.25s;
    cursor: pointer;
    border-radius: 5px;
}

.source__item:hover,
.source__item:focus {
    border-color: #3fcc59;
    color: #69db7e;
    box-shadow: 0 0.5em 0.5em -0.4em #3fcc59;
    transform: translateY(-0.25em);
}
body.light .source__item:hover,
body.light .source__item:focus {
    border-color: #000000;
    color: #000000;
    box-shadow: 0 0.5em 0.5em -0.4em #242d26;
    transform: translateY(-0.25em);
}

.source__item-name {
    font-weight: 400;
    white-space: nowrap;
}
