@media (min-width: 3000px) {
    .coffe-products-container {
        gap: unset;
        row-gap: 40px;
        justify-content: space-between;
    }
}

@media (max-width: 1500px) {
    .h2-four {
        width: 600px;
    }
}

@media (max-width: 1000px) {
    footer {
        flex-direction: column;
        gap: 100px;
        justify-content: space-between;
    }
    .four-container {
        flex-direction: column;
        gap: 100px;
        align-items: center;
    }
    .flex-kostil-fs div:nth-child(2),
    .flex-kostil-fs div:nth-child(3) {
        display: none;
    }
    .flex-kostil-fs {
        height: unset;
    }
    .i-n-t-c {
        width: 100%;
    }
    .image-in-third-container-1,
    .image-in-third-container-4 {
        max-width: unset;
    }
}

@media (min-width: 1001px) {
    /* .round-container {
        display: none;
    } */
}
@media (max-width: 850px) {
    .right-area-modal {
        width: 326px;
    }
}
@media (max-width: 750px) {
    .right-area-modal {
        width: 310px;
    }
    .left-area-modal {
        display: none;
    }
}
@media (max-width: 768px) {
    .coffe-products-container,
    .cakes-product {
        max-height: 1052px;
    }
    .round-container {
        display: flex;
    }
    .cards-of-product div:nth-child(n + 5),
    .cakes-product div:nth-child(n + 5) {
        /* display: none; */
        opacity: 0;
        transition: opacity 1.2s ease-in-out;
    }

    .burger-button {
        display: flex;
    }
    .nav-menu,
    .header-menu-icon-container {
        display: none;
    }
    .button-menu-fs > .cup-of-coffe-logo-btn {
        width: 20px;
    }
    .button-menu-fs {
        gap: 8px;
    }
    .first-section {
        padding: 100px 60px;
        width: auto;
    }
    .image-in-third-container-1,
    .image-in-third-container-4 {
        aspect-ratio: 688/590;
    }
    .left-fs {
        width: auto;
    }
    footer {
        padding: 100px 60px;
    }
    .head-text-menu-page {
        font-family: Inter, sans-serif;
        font-size: 60px;
        font-style: normal;
        letter-spacing: 0.9px;
        line-height: 125%;
    }
    .shop-section {
        margin-top: 14px;
    }
    .h2-four {
        letter-spacing: 0.6px;
        width: auto;
    }
}
@media (max-width: 700px) {
    body {
        padding: 20px 16px;
    }
    footer,
    .first-section {
        padding: 60px 16px;
        gap: 40px;
        width: unset;
    }
    h2 {
        font-size: 32px;
    }
    .h1 {
        font-size: 42px;
    }
    .head-text-menu-page {
        font-size: 33px;
    }
    .small-text-fs {
        font-size: 16px;
    }
    .text-and-button-in-first-section {
        width: unset;
    }
    .left-arrow,
    .right-arrow {
        display: none;
    }
    .product-slider-container,
    .slider-visible-area {
        width: 100%;
    }
    .buttons-mobile-app-container {
        flex-direction: column;
    }
    .left-fs {
        width: 100%;
    }
    .right-fs {
        aspect-ratio: 1;
        height: unset;
        width: 100%;
        background-position: center;
        background-size: contain;
    }
    .i-n-t-c {
        aspect-ratio: 348/590;
        background-size: cover;
    }
    .h2-footer {
        font-size: 32px;
    }
    .coffe-tea-cakes-buttons-area {
        gap: 8px;
    }

    /* slider */
    .product-slider-container,
    .slider-visible-area,
    .discriptoons-product-ss,
    .product-slider-container,
    .product-slider-container img {
        width: calc(100vw - 32px);
    }
    .product-into-slider-container {
        width: calc((100%) * 3);
    }

    .h1 {
        line-height: 114%; /* 48.3px */
    }
    .four-container {
        gap: 40px;
    }
    .head-text-menu-page {
        line-height: 120%;
        letter-spacing: 0.1px;
    }
}

@media (max-width: 691px) {
    .coffe-products-container,
    .cakes-product {
        max-height: 2144px;
    }
    .first-section {
        border-radius: 40px;
    }
}

/* honer unset? */
@media (pointer: coarse) {
    .right-arrow:hover {
        background: unset;
    }
    .right-arrow:hover > .round-arrow-container > .image-right-arrow img {
        display: block;
    }
    .right-arrow:hover > .round-arrow-container > .image-right-arrow {
        background-image: url(assets/icons/arrow-right.svg);
    }

    .left-arrow:hover {
        background: unset;
    }
    .left-arrow:hover > .round-arrow-container > .image-right-arrow img {
        display: none;
    }
    .left-arrow:hover > .round-arrow-container > .image-left-arrow {
        background-image: url(../assets/icons/arrow-left.svg);
    }

    .button-menu-fs > .cup-of-coffe-logo-btn {
        width: 20px;
    }
    .button-menu-fs {
        gap: 8px;
    }
    .i-n-t-c {
        background-size: cover;
    }

    .appstore-btn-fs:hover {
        color: #665f55;
        background-color: #e1d4c9;
    }
    .appstore-btn-fs:hover > .image-app-logo img {
        display: block;
    }
    .image-app-logo {
        width: 36px;
        height: 36px;
    }

    .appstore-btn-fs:hover > .text-btn-app > .avalible-app-text {
        color: #403f3d;
    }
    .appstore-btn-fs:hover > .text-btn-app > .appstore-app-text {
        color: #403f3d;
    }

    .androidstore-btn-fs:hover {
        color: #665f55;
        background-color: #e1d4c9;
    }
    .androidstore-btn-fs:hover > .image-app-logo img {
        display: block;
    }
    .image-app-logo {
        width: 36px;
        height: 36px;
    }

    .androidstore-btn-fs:hover > .text-btn-app > .avalible-app-text {
        color: #403f3d;
    }
    .androidstore-btn-fs:hover > .text-btn-app > .appstore-app-text {
        color: #403f3d;
    }

    .underline-footer:hover::before {
        transform: scaleX(0);
    }

    .twitter-icon:hover {
        background: unset;
    }
    .twitter-icon:hover div img {
        display: block;
    }

    .instagram-icon:hover {
        background: unset;
    }
    .instagram-icon:hover div img {
        display: block;
    }

    .test {
        width: 25px;
        height: 25px;
    }
    .facebook-icon:hover {
        background: unset;
    }
    .facebook-icon:hover div img {
        display: block;
    }

    .underline:hover::before {
        transform: scaleX(0);
    }

    /* menu  */

    .image-zone-product img {
        scale: 1;
    }
}
