@import url("https://fonts.googleapis.com/css2?family=Inter&display=swap");

html {
    scroll-behavior: smooth;
}
a {
    text-decoration: none;
    color: unset;
    transition: 0.5s all;
}

body {
    background: #e1d4c9;
    padding: 20px 40px 40px 40px;
    max-width: 1360px;
    margin: 0 auto;
    /* border: solid; */
    position: relative;
    transition: 0.5s all;
    overflow-x: hidden;
    /* border: #403f3d 1px solid; */
}
.overflow-h {
    overflow: hidden;
}
.header-content {
    display: flex;
    justify-content: space-between;
    align-items: center;

    color: #403f3d;
    font-feature-settings: "clig" off, "liga" off;

    /* Desktop/Action/link & button */
    font-family: Inter, sans-serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
    line-height: 150%; /* 24px */
}
.header-content div {
    z-index: 10;
}
.nav-menu {
    display: flex;
    gap: 40px;
    list-style: none;
    padding: 0;
}

.underline {
    position: relative;
    text-decoration: none;
}

.underline a {
    color: var(--text-dark, #403f3d);
    font-feature-settings: "clig" off, "liga" off;

    /* Desktop/Action/link & button */
    font-family: Inter;
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
    line-height: 150%; /* 24px */
    letter-spacing: 0.2px;
}
.underline:hover {
    cursor: pointer;
}

.underline::before {
    content: "";
    position: absolute;
    display: block;
    width: 100%;
    height: 2px;
    bottom: -8px;
    left: 0;
    background-color: #403f3d;
    transform: scaleX(0);
    transition: transform 0.6s ease;
}

.underline:hover::before {
    transform: scaleX(1);
}
.header-menu-icon-container {
    display: flex;
    gap: 8px;
    align-items: top;
}
.first-section {
    margin-top: 15px;

    background-image: url(../assets/images/coffe-bg-fs.jpeg);
    width: calc(100% - 200px);
    border-radius: 40px;
    padding: 100px;
    background-position: center;

    color: var(--text-light, #e1d4c9);
}

.text-and-button-in-first-section {
    display: grid;
    gap: 40px;
    width: 530px;
}
.h1 {
    font-feature-settings: "clig" off, "liga" off;

    /* Desktop/Heading/heading-1 */
    font-family: Inter, sans-serif;
    font-size: 72px;
    font-style: normal;
    font-weight: 600;
    line-height: 105%;
    letter-spacing: 0.8px;
}
.h1 span {
    color: #b0907a;
    font-style: italic;
}
.small-text-fs {
    color: var(--text-light, #e1d4c9);
    font-feature-settings: "clig" off, "liga" off;

    /* Desktop/Body/medium */
    font-family: Inter;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 150%; /* 24px */
}
.nav-menu-container {
    gap: 40px;
    display: flex;
}
.button-menu-fs {
    display: flex;
    width: 200px;
    padding: 20px 0;
    justify-content: center;
    align-items: center;
    gap: 0px;
    border-radius: 100px;
    background: #e1d4c9;
    cursor: pointer;
    transition: 0.6s ease;
}
.button-menu-fs-cont {
    width: 200px;
}
.cup-of-coffe-logo-btn {
    width: 0px;
    height: 20px;
    background-size: 100%;
    transition: 0.6s ease;
    background-image: url(../assets/icons/coffee-cup.svg);
    background-repeat: no-repeat;
    background-position: right;
}
.button-menu-fs:hover > .cup-of-coffe-logo-btn {
    width: 20px;
}
.button-menu-fs:hover {
    gap: 8px;
}
.button-menu-fs {
    color: var(--text-dark, #403f3d);
    text-align: center;
    font-feature-settings: "clig" off, "liga" off;

    /* Desktop/Action/link & button */
    font-family: Inter;
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
    line-height: 150%; /* 24px */
}
.second-container {
    margin-top: 100px;
    margin-bottom: 100px;
    display: grid;
    gap: 40px;
}
h2 {
    color: var(--text-dark, #403f3d);
    text-align: center;
    font-feature-settings: "clig" off, "liga" off;

    /* Desktop/Heading/heading-2 */
    font-family: Inter;
    font-size: 60px;
    font-style: normal;
    font-weight: 600;
    line-height: 125%; /* 75px */
}
h2 span {
    color: #b0907a;
    font-style: italic;
}

.h2-ts {
    text-align: left;
    letter-spacing: 0.4px;
}

.h2-ss {
    letter-spacing: 0.8px;
}
.slider-second-section {
    /* border: salmon solid; */
    display: flex;
    align-items: center;
    gap: 40px;
}
.product-into-slider-container {
    transition: all 0.6s;
    transform: translateX(0px);
    width: calc((100vw - 284px) * 3);
    max-width: 3456px;
    display: flex;
    overflow: hidden;
}

.slider-visible-area {
    width: calc(100vw - 284px);
    overflow: hidden;
    max-width: 1150px;
}

.product-slider-container {
    width: calc(100vw - 284px);
    max-width: 1152px;
    display: grid;
    align-items: center;
    justify-content: center;
    gap: 20px;
}

.discriptoons-product-ss {
    display: grid;
    gap: 16px;
    width: 480px;
    text-align: center;

    color: var(--text-dark, #403f3d);
    text-align: center;
    font-feature-settings: "clig" off, "liga" off;

    /* Desktop/Heading/heading-3 */
    font-family: Inter;
    font-size: 24px;
    font-style: normal;
    font-weight: 600;
    line-height: 125%; /* 30px */
}
.dis-discription-p-ss {
    color: var(--text-dark, #403f3d);
    text-align: center;
    font-feature-settings: "clig" off, "liga" off;

    /* Desktop/Body/medium */
    font-family: Inter;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 150%; /* 24px */
}

.pagination-indicator-ss {
    display: flex;
    gap: 12px;
    align-items: center;
    justify-content: center;
}
.pagination-indicator-ss div {
    width: 40px;
    height: 4px;
    border-radius: 100px;
}

.pag-1,
.pag-2,
.pag-3 {
    background: #c1b6ad;
}
.pagactive {
    background: #665f55;
}

.image-right-arrow,
.image-left-arrow {
    width: 25px;
    height: 25px;
}
.round-arrow-container {
    width: 60px;
    height: 60px;
    border: #403f3d 1px solid;
    border-radius: 50%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.round-container {
    width: 58px;
    height: 58px;
    border: #403f3d 1px solid;
    border-radius: 50%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.right-arrow {
    border-radius: 40px;
    transition: 0.6s ease;
    cursor: pointer;
}
.right-arrow:hover {
    background: #665f55;
}
.right-arrow:hover > .round-arrow-container > .image-right-arrow img {
    display: none;
}
.right-arrow:hover > .round-arrow-container > .image-right-arrow {
    background-image: url(../assets/icons/arrow-right-light.svg);
}

.left-arrow {
    border-radius: 40px;
    transition: 0.6s ease;
    cursor: pointer;
}
.left-arrow:hover {
    background: #665f55;
}
.left-arrow:hover > .round-arrow-container > .image-left-arrow img {
    display: none;
}
.left-arrow:hover > .round-arrow-container > .image-left-arrow {
    background-image: url(../assets/icons/arrow-left-light.svg);
}
.flex-kostil-fs {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    margin-top: 40px;
    grid-row: 2;
    align-items: center;
    justify-content: center;
    gap: 40px;
    height: 1060px;
}

.image-in-third-container-1 {
    background-image: url(../assets/images/about-1.png);
    aspect-ratio: 66/59;
    border-radius: 20px;
    width: calc((100vw - 120px) / 2);
    max-width: 660px;
}
.image-in-third-container-2 {
    background-image: url(../assets/images/about-2.png);
    aspect-ratio: 66/43;
    border-radius: 20px;
    width: calc((100vw - 120px) / 2);
    max-width: 660px;
}
.image-in-third-container-3 {
    background-image: url(../assets/images/about-3.png);
    aspect-ratio: 66/43;
    border-radius: 20px;
    width: calc((100vw - 120px) / 2);
    max-width: 660px;
}
.image-in-third-container-4 {
    background-image: url(../assets/images/about-4.png);
    background-size: 100%;

    aspect-ratio: 66/59;
    border-radius: 20px;
    width: calc((100vw - 120px) / 2);
    max-width: 660px;
}
.i-n-t-c {
    background-size: 110%;
    background-position: center;
    transition: 0.6s ease;
}
.i-n-t-c:hover {
    background-size: 100%;
}
.four-container {
    display: flex;
    justify-content: space-between;
    margin-top: 100px;
    margin-bottom: 100px;
}
.left-fs {
    width: 630px;
    display: flex;
    flex-direction: column;
    gap: 40px;
    justify-content: center;
}
.h2-four {
    text-align: left;
}
.right-fs {
    width: 630px;
    height: 630px;
    max-width: 630px;
    max-height: 630px;
    background-image: url(../assets/images/mobile-screens.png);
}

.buttons-mobile-app-container {
    display: flex;
    gap: 20px;
    align-items: left;
}

.discriptoons-app-four {
    color: var(--text-dark, #403f3d);
    font-feature-settings: "clig" off, "liga" off;

    /* Desktop/Body/medium */
    font-family: Inter;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 150%; /* 24px */
}
.mobile-store-btn {
    width: 158px;
    border-radius: 100px;
    border: 1px solid #665f55;
    padding: 12px 20px;
    display: flex;
    gap: 8px;
    transition: 0.6s ease;
    cursor: pointer;
}

.text-btn-app p {
    text-align: left;
}
.appstore-btn-fs:hover {
    color: #e1d4c9;
    background-color: #665f55;
}
.appstore-btn-fs:hover > .image-app-logo img {
    display: none;
}
.image-app-logo {
    width: 36px;
    height: 36px;
}
.appstore-btn-fs:hover > .image-app-logo {
    background-image: url(../assets/icons/iphone-light.svg);
}
.appstore-btn-fs:hover > .text-btn-app > .avalible-app-text {
    color: #e1d4c9;
}
.appstore-btn-fs:hover > .text-btn-app > .appstore-app-text {
    color: #e1d4c9;
}

.androidstore-btn-fs:hover {
    color: #e1d4c9;
    background-color: #665f55;
}
.androidstore-btn-fs:hover > .image-app-logo img {
    display: none;
}
.image-app-logo {
    width: 36px;
    height: 36px;
}
.androidstore-btn-fs:hover > .image-app-logo {
    background-image: url(../assets/icons/android-light.svg);
}
.androidstore-btn-fs:hover > .text-btn-app > .avalible-app-text {
    color: #e1d4c9;
}
.androidstore-btn-fs:hover > .text-btn-app > .appstore-app-text {
    color: #e1d4c9;
}

.avalible-app-text {
    color: var(--text-dark, #403f3d);
    text-align: center;
    font-feature-settings: "clig" off, "liga" off;

    /* Desktop/Body/caption */
    font-family: Inter;
    font-size: 10px;
    font-style: normal;
    font-weight: 600;
    line-height: 140%; /* 14px */
}
.appstore-app-text {
    color: var(--text-dark, #403f3d);
    font-feature-settings: "clig" off, "liga" off;

    /* Desktop/Action/link & button */
    font-family: Inter;
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
    line-height: 150%; /* 24px */
}

footer {
    border-radius: 40px;
    background: var(--background-container, #665f55);
    padding: 100px;
    display: flex;
    justify-content: space-between;
}

.h2-footer {
    color: var(--text-light, #e1d4c9);
    font-feature-settings: "clig" off, "liga" off;

    /* Desktop/Heading/heading-2 */
    font-family: Inter;
    font-size: 60px;
    font-style: normal;
    font-weight: 600;
    line-height: 125%; /* 75px */
    text-align: left;
}

.h2-footer span {
    color: var(--text-accent, #b0907a);
}
.left-footer,
.right-footer {
    /* width: calc((100vw - 380px) / 2); */
    max-width: 530px;
    display: grid;
    gap: 40px;
}
.footer-social-list {
    display: flex;
    gap: 12px;
}
.footer-social-list li {
    display: flex;
    width: 58px;
    height: 58px;
    justify-content: center;
    align-items: center;
    border-radius: 100px;
    border: 1px solid var(--border-light, #c1b6ad);
    background: #665f55;
    transition: 0.6s;
    cursor: pointer;
}

.right-footer {
    color: var(--text-light, #e1d4c9);
    font-feature-settings: "clig" off, "liga" off;
    align-content: center;

    /* Desktop/Heading/heading-3 */
    font-family: Inter;
    font-size: 24px;
    font-style: normal;
    font-weight: 600;
    line-height: 125%; /* 30px */
}
.right-footer-list {
    color: var(--text-light, #e1d4c9);
    font-feature-settings: "clig" off, "liga" off;

    /* Desktop/Action/link & button */
    font-family: Inter;
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
    line-height: 150%; /* 24px */

    display: grid;
    gap: 2px;
}
.right-footer-list li a {
    text-decoration: none;
    color: #e1d4c9;
}
.right-footer-list li {
    line-height: 250%;
    display: flex;
    gap: 8px;
}
.right-footer {
    gap: 43px;
}
.contact-us-footer-text {
    height: 20px;
}
.none {
    display: none;
}

.underline-footer {
    position: relative;
    text-decoration: none;
    display: flex;
    gap: 8px;
}
.underline-footer:hover {
    cursor: pointer;
}

.underline-footer::before {
    content: "";
    position: absolute;
    display: block;
    width: 100%;
    height: 2px;
    bottom: -5px;
    left: 0;
    background-color: #e1d4c9;
    transform: scaleX(0);
    transition: transform 0.6s ease;
}

.underline-footer:hover::before {
    transform: scaleX(1);
}

.twitter-icon:hover {
    background: #e1d4c9;
}
.twitter-icon:hover div img {
    display: none;
}
.twitter-icon:hover > a > .test {
    background-image: url(../assets/icons/twitter-dark.svg);
    width: 25px;
    height: 25px;
}
.instagram-icon:hover {
    background: #e1d4c9;
}
.instagram-icon:hover div img {
    display: none;
}
.instagram-icon:hover > a > .test {
    background-image: url(../assets/icons/instagram-dark.svg);
    width: 25px;
    height: 25px;
}
.test {
    width: 25px;
    height: 25px;
}
.facebook-icon:hover {
    background: #e1d4c9;
}
.facebook-icon:hover div img {
    display: none;
}
.facebook-icon:hover > a > .test {
    background-image: url(../assets/icons/facebook-dark.svg);
    width: 25px;
    height: 25px;
}

.burger-button {
    border-radius: 100px;
    border: 1px solid var(--border-dark, #665f55);
    display: flex;
    flex-direction: column;
    width: 42px;
    height: 42px;
    justify-content: center;
    align-items: center;
    gap: 6px;
}
.burger-button:hover {
    cursor: pointer;
}

.burger-button span {
    width: 16px;
    height: 1.5px;
    border-radius: 1px;
    background: var(--text-dark, #403f3d);
    transition: 0.6s ease;
}
.burger-button-active > span:nth-child(1) {
    transform: translateY(4px) rotateZ(45deg);
}
.burger-button-active > span:nth-child(2) {
    transform: translateY(-4px) rotateZ(-45deg);
}

.burger-menu {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 100px;
    background: #e1d4c9;
    position: fixed;
    transition: 0.6s ease;
    transform: translateX(100vw);
    z-index: 1;

    color: var(--text-dark, #403f3d);
    text-align: center;
    font-feature-settings: "clig" off, "liga" off;

    /* Desktop/Action/burger-link */
    font-family: Inter;
    font-size: 32px;
    font-style: normal;
    font-weight: 600;
    line-height: 125%; /* 40px */
}
.burger-list {
    margin-top: 120px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 60px;
}
.burger-menu div {
    margin-bottom: 284px;
    display: flex;
    gap: 16px;
    align-items: center;
}
.burger-menu > div > img {
    width: 40px;
    font-weight: 100;
}

.menu-underline::before {
    content: "";
    position: absolute;
    display: block;
    height: 2px;
    width: 113.5px;
    bottom: 280px;
    background-color: #403f3d;
    transform: scaleX(1);
    transition: transform 0.6s ease;
}

.none {
    display: none;
}
